@couleur-menu : #000000;
@couleur-txt_blanc: #fefefe;
@couleur-txt_body: #666666;
@couleur-contrasteFond: #E6E6F1;
@couleur-caseFond: #333333;
@couleur-mauve: #6666ff;




.menu{
	background-color :@couleur-menu;
	height : 3em;
}

nav{
		position: relative;
		margin: 0 auto;
		max-width: 1152px;
		position: relative;

        li{
             padding-top:0.4em;
        }  

}
main{
    min-height: 25em;
}

li{
	display:flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top:0.1em;
}  

a{
    display: flex;
    justify-content: space-around;
    color : #fff;
    text-decoration : none;
    font-size: 150%;
    padding: 3px;
    color : @couleur-txt_blanc;
    flex:1;
}

body{
    background-color :@couleur-mauve; 

}

footer{

    display: flex;
    justify-content: space-around;
    min-height: 3em;
    background-color:@couleur-txt_body; 

    label{

        color: @couleur-txt_blanc;
        padding-top: 0.8em;

    }
}

.liste-case{
		display:flex;
		justify-content: center;
     	background-color : @couleur-caseFond;
     	height : 8em;
		flex-direction: column;
     	margin-bottom: 1.5em;
		padding-bottom: 2em;
			
		label{
				display:flex;
				color:@couleur-txt_blanc;
				justify-content: center;
			}

     	h2{
     		display:flex;
     		padding-top:0.6em;
     		justify-content: center;
     		color: @couleur-txt_blanc;
     	}
     	 
     	li{
     		c
     		margin: 0 auto;
     	 	
     	  	background-color : @couleur-contrasteFond;
     	 	
     	 	justify-content: space-around;
     	
			.case{
       			background-color : @couleur-mauve;
       			    margin: 0.2em 0.2em;
				    padding: 0.5em 0px 0.5em 0px;
				max-width: 145px;
       			min-width: 145px;
     		}
        }  
     }