@couleur-menu : #000000;
@couleur-txt_blanc: #fefefe;


.menu{
	background-color :@couleur-menu;
	height : 3em;
}

nav{
		position: relative;
		margin: 0 auto;
		max-width: 1152px;
		position: relative;
}

li{
	display:flex;
    justify-content: space-around;
    flex-direction: row;
            
    padding-top:0.4em;

}  

a{
    display : block;
    color : #fff;
    text-decoration : none;
    font-size: 150%;
    padding: 3px;
    color : @couleur-txt_blanc;
    flex:1;
}